:root{
    --navHeight: 6vh;
    --tranTime: 200ms;
    --navColor: rgb(12, 45, 59);
    --searchHeight: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--navHeight);
    background-color: var(--navColor);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 10px -2px gray; 
    text-decoration: none;
    
}

a {
    color: white;
    text-decoration: none;
}


.naviItem{
    flex-grow: 1;
    
}   

.about{
    border-radius: 50px;
    width: 1vh;
    margin-right: 1vh;
    transition: 200ms ease-in-out;
}
.about:hover{
    background-color: rgb(17, 63, 83);
}

.navBuffer{
    flex-grow: 4;
}

.navHeightBuffer{
    min-height: calc(var(--navHeight)*1.2);
    display: block;
}

.outputWrap{
    display: flex;
    justify-content: space-evenly;
    
}

.searchbar{
    height: var(--searchHeight);
    font-size: 16px;
}

.searchButton{
    height: var(--searchHeight);
    
    padding: calc(var(--searchHeight)*.25) var(--searchHeight) calc(var(--searchHeight)*.84) var(--searchHeight);
}

@media (max-width: 600px){
    .title{
        display: none;
    }

}